<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="/js/jquery-3.1.1.js"></script>
	<script>
        $(function () {
            var msg = [[${msg}]];
            var customMsg = "[[${customMsg}]]";
            if (msg > 0) {
                switch (msg) {
                    case 1:
                        alert("Saved");
                        break;
                    case 2:
                        alert("Updated");
                        break;
                    case 3:
                        alert("Deleted");
                        break;
                    case 9:
                        alert(customMsg);
                        break;
                }
            }
            window.opener.document.location.reload();
            window.close();
        });
	</script>
</head>
</html>  
